<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
  <key>UIApplicationShortcutItems</key>
  <array>
    <dict>
      <!--标题-->
      <key>UIApplicationShortcutItemTitle</key>
      <string>New Message</string>
      <!--副标题-->
      <key>UIApplicationShortcutItemSubtitle</key>
      <string>新建消息</string>
      <!--使用系统图标类型-->
      <key>UIApplicationShortcutItemIconType</key>
      <string>UIApplicationShortcutIconTypeCompose</string>
      <!--  选项自定义icon-->
      <!-- <key>UIApplicationShortcutItemIconFile</key>
       <string></string>--><!-- icon文件的路径，必须使用项目内的资源文件 -->
      <!--  app应用标识-->
      <key>UIApplicationShortcutItemType</key>
      <string>com.mycompany.myapp.newmessage</string>
      <!--  可以用来传递一些数据-->
      <key>UIApplicationShortcutItemUserInfo</key>
      <dict>
        <key>key2</key>
        <string>value2</string>
      </dict>
    </dict>
    <dict>
      <key>UIApplicationShortcutItemIconFile</key>
      <string>https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/logo_top_ca79a146.png</string>
      <key>UIApplicationShortcutItemIconFile</key>
      <string>open-favorites</string>
      <key>UIApplicationShortcutItemTitle</key>
      <string>Favorites</string>
      <key>UIApplicationShortcutItemType</key>
      <string>com.mycompany.myapp.openfavorites</string>
      <key>UIApplicationShortcutItemUserInfo</key>
      <dict>
        <key>key1</key>
        <string>value1</string>
      </dict>
    </dict>
  </array>
</dict>
</plist>
